<div class="rmm-ng-datepicker">
    <div class="rmm-ng-datepicker__block rmm-ng-datepicker__block--border-bottom" *ngIf="type === 'dd'">
        <div class="rmm-ng-datepicker__controls">
            <div class="rmm-ng-datepicker__select" #monthSelect *ngIf=" type === 'dd'">
                <span (click)="showMonthSelect()">
                    <b>{{months[month]}}</b>
                    &nbsp;
                    <span class="rmm-inline-icon-arrow-up-down" style="font-size: 0.7em">&nbsp;</span>
                </span>

                <div class="rmm-ng-datepicker__select-options-container" *ngIf="isMonthSelectVisible">
                    <div *ngFor="let m of months; let i = index" (click)="setMonth(i); hideMonthSelect()" class="rmm-ng-datepicker__select-option">{{m}}</div>
                </div>
            </div>
            <div class="rmm-ng-datepicker__select" #yearSelect>
                <span (click)="showYearSelect()">
                    <b>{{year}}</b>
                    &nbsp;
                    <span class="rmm-inline-icon-arrow-up-down" style="font-size: 0.7em">&nbsp;</span>
                </span>

                <div class="rmm-ng-datepicker__select-options-container rmm-ng-datepicker__select-options-container--right" *ngIf="isYearSelectVisible" (wheel)="onYearScroll($event)">
                    <div (click)="incrementVisibleYearByValue(-5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--up">▴</div>
                    <div *ngFor="let y of visibleYears"
                         (click)="setYear(y); hideYearSelect();"
                         class="rmm-ng-datepicker__select-option"
                         [ngClass]="{'--current': year === y}">{{y}}</div>
                    <div (click)="incrementVisibleYearByValue(5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--down">▾</div>
                </div>
            </div>
        </div>
    </div>

    <div class="rmm-ng-datepicker__block rmm-ng-datepicker__block--border-bottom">
        <div [ngSwitch]="type">
            <div *ngSwitchCase="'dd'">
                <ng-container *ngTemplateOutlet="dayCalendar;"></ng-container>
            </div>
            <div *ngSwitchCase="'mm'">
                <ng-container *ngTemplateOutlet="monthCalendar;"></ng-container>
            </div>
            <div *ngSwitchCase="'yyyy'">
                <ng-container *ngTemplateOutlet="yearCalendar;"></ng-container>
            </div>
        </div>
    </div>

    <button type="button" class="rmm-ng-datepicker__today-button" (click)="setToday()">Сегодня: {{dateToFormat(today)}}</button>
</div>
<p>Выбранная дата: {{dateToFormat(selectedDate)}}</p>

<ng-template #dayCalendar>
    <!--<div class="rmm-ng-datepicker__calendar-button" (click)="setMonth(month - 1)">
        <span>▲</span>
    </div>-->
    <div class="rmm-ng-datepicker__calendar" (wheel)="onScroll($event)">
        <span *ngFor="let day of daysBefore;" class="rmm-ng-datepicker__day rmm-ng-datepicker__day--disabled" (click)="setMonth(month - 1); selectDate(day)">{{day}}</span>
        <span *ngFor="let day of days; let i = index" (click)="selectDate(i + 1)" class="rmm-ng-datepicker__day" [ngClass]="{'--selected': isDaySelected(i + 1), '--current': isToday(i + 1)}">{{i + 1}} </span>
        <span *ngFor="let day of daysAfter" class="rmm-ng-datepicker__day rmm-ng-datepicker__day--disabled" (click)="setMonth(month + 1); selectDate(day)">{{day}}</span>
    </div>
    <!--<div class="rmm-ng-datepicker__calendar-button" (click)="setMonth(month + 1)">
        <span>▼</span>
    </div>-->
</ng-template>

<ng-template #monthCalendar>
    <!--<div class="rmm-ng-datepicker__calendar-button" (click)="setYear(year - 1)">
        <span>▲ {{year - 1}}</span>
    </div>-->
    <div style="display: flex; align-items: center" (wheel)="onMonthScroll($event)">
        <div>
            <div (click)="incrementVisibleYearByValue(-5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--up">▴</div>
            <div *ngFor="let y of visibleYears" (click)="setYear(y); hideYearSelect();"
                 class="rmm-ng-datepicker__select-option"
                 [ngClass]="{
                 '--current': today.getFullYear() === y,
                 '--selected': year === y
                 }">
                {{y}}
            </div>
            <div (click)="incrementVisibleYearByValue(5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--down">▾</div>
        </div>
        <div class="rmm-ng-datepicker__month-calendar" >
            <div *ngFor="let m of months; let i = index" (click)="setMonth(i); selectDate(1)"
                 class="rmm-ng-datepicker__month-calendar-item"
                 [ngClass]="{
                '--current': year === today.getFullYear() && today.getMonth() === i,
                '--selected': selectedDate && year === selectedDate.getFullYear() && selectedDate.getMonth() === i
            }">{{m}}</div>
        </div>
    </div>
    <!--<div class="rmm-ng-datepicker__calendar-button" (click)="setYear(year + 1)">
        <span>▼ {{year + 1}}</span>
    </div>-->
</ng-template>

<ng-template #yearCalendar>
    <div class="rmm-ng-datepicker__calendar-button" (click)="incrementVisibleYearByValue(-6)">
        <span>▲</span>
    </div>
    <div (wheel)="onYearScroll($event)" class="rmm-ng-datepicker__year-calendar">
        <div *ngFor="let y of visibleYears; let i = index"
             (click)="setYear(y); selectDate(1)"
             class="rmm-ng-datepicker__year-calendar-item"
             [ngClass]="{
                '--current': y === today.getFullYear(),
                '--selected': selectedDate && y === selectedDate.getFullYear()
            }">{{y}}</div>
    </div>
    <div class="rmm-ng-datepicker__calendar-button" (click)="incrementVisibleYearByValue(6)">
        <span>▼</span>
    </div>
</ng-template>