<div>
    <div class="control">
        <div class="month">
<!--            <button (click)="setMonth(month - 1)">-</button>
            <button (click)="setMonth(month + 1)">+</button>-->
            <span (click)="showMonthSelect()">
                {{months[month]}}
            </span>

            <div class="month__select" *ngIf="isMonthSelectVisible">
                <div *ngFor="let m of months; let i = index" (click)="setMonth(i); hideMonthSelect()">{{m}}</div>
            </div>
        </div>
        <div class="month">
            <span (click)="showYearSelect()">{{year}}</span>

            <div class="month__select year__select" *ngIf="isYearSelectVisible" (wheel)="onYearScroll($event)">
                <div *ngFor="let y of visibleYears" (click)="setYear(y); hideYearSelect();">{{y}}</div>
            </div>
            <!--<button (click)="setYear(year - 1)">-</button>
            <button (click)="setYear(year + 1)">+</button>-->
        </div>
    </div>

    <div class="cal">
        <span *ngFor="let day of weekdays" class="day">{{day}}  </span>
    </div>

    <div class="cal" (wheel)="onScroll($event)">
        <span *ngFor="let day of emptyDaysBefore" class="day"></span>
        <span *ngFor="let day of days; let i = index" (click)="selectDate(i + 1)" class="day" [ngClass]="{'selected': isDaySelected(i + 1), 'current': isToday(i + 1)}">{{i + 1}} </span>
    </div>

    <p><button (click)="setToday()">Сегодня</button></p>

    <p>Выбранная дата: {{dateToFormat(selectedDate)}}</p>
</div>