:host {
    width: 16rem;
    display: block;
}

.cal {
    display: flex;
    width: 16rem;
    flex-wrap: wrap;
}

.cal > span {
    width: 2rem;
    text-align: center;
}

.control {
    width: 16rem;
    display: flex;
    justify-content: space-between;
}

.day {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0.1rem;
    cursor: pointer;
    box-sizing: border-box;
}

.day:hover {
    border: 1px solid #ccc;
}

.day.current {
    background: #ccc;
}

.day.selected {
    background: #3e9bcc;
    color: white;
}

.month {
    position: relative;

    &__select {
        position: absolute;
        min-height: 10rem;
        background: white;
        border: 1px solid grey;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.8em;
        padding: 0.5em;
    }
}

.year {
    &__select {
        div {
            cursor: pointer;
        }
    }
}