<div class="rmm-ng-datepicker">
    <div class="rmm-ng-datepicker__block rmm-ng-datepicker__block--border-bottom">
        <div class="rmm-ng-datepicker__controls">
            <div class="rmm-ng-datepicker__select">
                <span (click)="showMonthSelect()">
                    <b>{{months[month]}}</b>
                </span>

                <div class="rmm-ng-datepicker__select-options-container" *ngIf="isMonthSelectVisible">
                    <div *ngFor="let m of months; let i = index" (click)="setMonth(i); hideMonthSelect()" class="rmm-ng-datepicker__select-option">{{m}}</div>
                </div>
            </div>
            <div class="rmm-ng-datepicker__select">
                <span (click)="showYearSelect()">
                    <b>{{year}}</b>
                </span>

                <div class="rmm-ng-datepicker__select-options-container rmm-ng-datepicker__select-options-container--right" *ngIf="isYearSelectVisible" (wheel)="onYearScroll($event)">
                    <div (click)="incrementVisibleYearByValue(-5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--up">up</div>
                    <div *ngFor="let y of visibleYears" (click)="setYear(y); hideYearSelect();" class="rmm-ng-datepicker__select-option" [ngClass]="{'rmm-ng-datepicker__select-option--current': year === y}">{{y}}</div>
                    <div (click)="incrementVisibleYearByValue(5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--down">down</div>
                </div>
            </div>
        </div>
    </div>

    <div class="rmm-ng-datepicker__block rmm-ng-datepicker__block--border-bottom">
        <div class="rmm-ng-datepicker__calendar" (wheel)="onScroll($event)">
            <span *ngFor="let day of emptyDaysBefore" class="rmm-ng-datepicker__day"></span>
            <span *ngFor="let day of days; let i = index" (click)="selectDate(i + 1)" class="rmm-ng-datepicker__day" [ngClass]="{'--selected': isDaySelected(i + 1), '--current': isToday(i + 1)}">{{i + 1}} </span>
        </div>
    </div>

    <button type="button" class="rmm-ng-datepicker__today-button" (click)="setToday()">Сегодня</button>
</div>

<p>Выбранная дата: {{dateToFormat(selectedDate)}}</p>