$dayWidth: 2rem;
$dayMargin: 0.1rem;
$contentWidth: ($dayWidth + 2 * $dayMargin) * 7;

$monthWidth: 10rem;
$monthMargin: $dayMargin;

@mixin calendarItem() {
    &:hover {
        background: #eee;
        cursor: pointer;
    }

    &.--current {
        background: #ccc;
    }

    &.--selected {
        background: #3e9bcc;
        color: white;
    }

    &.--disabled {
        opacity: 0.4;
    }
}

:host {
    display: inline-block;
    user-select: none;
}

.rmm-ng-datepicker {
    border: 1px solid #ddd;

    &__block {
        padding: 1rem;

        &--border-bottom {
            border-bottom: 1px solid #ddd;
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
    }

    &__calendar {
        display: flex;
        flex-wrap: wrap;
        width: $contentWidth;
    }

    &__calendar-button {
        text-align: center;

        &:hover {
            background: #3e9bcc;
            color: white;
            cursor: pointer;
        }
    }

    &__day {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $dayWidth;
        width: $dayWidth;
        margin: $dayMargin;
        cursor: pointer;
        border-radius: 50%;

        &:hover {
            background: #eee;
        }

        &.--current {
            background: #ccc;
        }

        &.--selected {
            background: #3e9bcc;
            color: white;
        }

        &--disabled {
            opacity: 0.4;
        }
    }

    &__select {
        position: relative;
        cursor: pointer;

        > span {
            display: flex;
            align-items: center;
        }

        > span:hover {
            color: #3e9bcc;
        }
    }

    &__select-options-container {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        box-shadow: 0 0 10px 3px #ccc;
        padding: 0.25rem 0;
        z-index: 2;

        &--right {
            right: 0;
            left: auto;
        }
    }

    &__select-option {
        padding: 0 0.75rem;
        line-height: 1.5;

        &:hover {
            background: #3e9bcc;
            color: white;
            cursor: pointer;
        }

        &.--current {
            background: #ccc;
        }

        &.--selected {
            background: #3e9bcc;
            color: white;
        }

        &--up,
        &--down {
            text-align: center;
            line-height: 1;
        }
    }

    &__today-button {
        background: none;
        border: none;
        text-align: center;
        color: #3e9bcc;
        padding: 1rem;
        display: block;
        width: 100%;
        font-family: inherit;
        font-size: 1rem;

        &:hover {
            background: #fafafa;
            cursor: pointer;
        }
    }


    &__month-calendar,
    &__year-calendar {
        width: $contentWidth;
        display: flex;
        flex-wrap: wrap;
    }

    &__month-calendar {
        border-left: 1px solid #ccc;
        padding-left: 1rem;
        margin-left: 1rem;
    }

    &__month-calendar-item,
    &__year-calendar-item {
        width: calc((100% / 3) - 8px);
        text-align: center;
        margin: 4px;
        padding: 10px 0;
        border-radius: 15px;

        @include calendarItem();
    }
}

@mixin icon() {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 1em;
}

.rmm-inline-icon-arrow-up-down {
    @include icon();
    background-image: url("./arrows-up-and-down.svg");
}