/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.33;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
}