<span #pickerContainer data-input>
    <span *ngIf="fbControl" data-element>
        <input #input type="text" value="{{fbControl.value}}" (input)="updateControlValue(input.value)" (click)="pickByFocus ? showPicker() : null"/>
        <button type="button" data-pick-button (click)="togglePicker()"></button>
    </span>

    <span *ngIf="!isPickerHidden" data-picker>
        <app-datepicker [format]="format" (onSelect)="onDatePick($event)" [value]="fbControl.value"></app-datepicker>
    </span>
</span>

