<div class="rmm-ng-datepicker">
    <div class="rmm-ng-datepicker__block rmm-ng-datepicker__block--border-bottom" *ngIf="type === 'dd'">
        <div class="rmm-ng-datepicker__controls">
            <div class="rmm-ng-datepicker__select" #monthSelect *ngIf=" type === 'dd'">
                <span (click)="showMonthSelect()">
                    <b>{{months[month]}}</b>
                    &nbsp;
                    <span class="rmm-inline-icon-arrow-up-down" style="font-size: 0.7em">&nbsp;</span>
                </span>

                <div class="rmm-ng-datepicker__select-options-container" *ngIf="isMonthSelectVisible">
                    <div *ngFor="let m of months; let i = index" (click)="setMonth(i); hideMonthSelect()" class="rmm-ng-datepicker__select-option">{{m}}</div>
                </div>
            </div>
            <div class="rmm-ng-datepicker__select" #yearSelect>
                <span (click)="showYearSelect()">
                    <b>{{year}}</b>
                    &nbsp;
                    <span class="rmm-inline-icon-arrow-up-down" style="font-size: 0.7em">&nbsp;</span>
                </span>

                <div class="rmm-ng-datepicker__select-options-container rmm-ng-datepicker__select-options-container--right" *ngIf="isYearSelectVisible" (wheel)="onYearScroll($event)">
                    <div (click)="incrementVisibleYearByValue(-5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--up">▴</div>
                    <div *ngFor="let y of currentYears"
                         (click)="setYear(y.year); hideYearSelect();"
                         class="rmm-ng-datepicker__select-option"
                         [ngClass]="{
                         '--current': y.current,
                         '--disabled': !y.active
                         }">{{y.year}}</div>
                    <div (click)="incrementVisibleYearByValue(5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--down">▾</div>
                </div>
            </div>
        </div>
    </div>

    <div class="rmm-ng-datepicker__block">
        <div [ngSwitch]="type">
            <div *ngSwitchCase="'dd'">
                <ng-container *ngTemplateOutlet="dayCalendar;"></ng-container>
            </div>
            <div *ngSwitchCase="'mm'">
                <ng-container *ngTemplateOutlet="monthCalendar;"></ng-container>
            </div>
            <div *ngSwitchCase="'yyyy'">
                <ng-container *ngTemplateOutlet="yearCalendar;"></ng-container>
            </div>
        </div>
    </div>

    <button *ngIf="(type !== 'yyyy') && (!this.dateFrom || this.dateFrom.date <= today) && (!this.dateTo || this.dateTo.date > today)" type="button" class="rmm-ng-datepicker__today-button" (click)="setToday()">Сегодня: {{dateToFormat(today)}}</button>
</div>

<ng-template #dayCalendar>
    <!--<div class="rmm-ng-datepicker__calendar-button" (click)="setMonth(month - 1)">
        <span>▲</span>
    </div>-->
    <div class="rmm-ng-datepicker__calendar" (wheel)="onScroll($event)">
        <span *ngFor="let day of daysBefore;" class="rmm-ng-datepicker__day --hidden">{{day}}</span>
        <span *ngFor="let day of currentMonthDays; let i = index"
              (click)="day.active ? selectDate(day.day) : null"
              class="rmm-ng-datepicker__day"
              [ngClass]="{
              '--selected': day.selected,
              '--current': day.current,
              '--disabled': !day.active
              }">
            {{day.day}}
        </span>
        <span *ngFor="let day of daysAfter" class="rmm-ng-datepicker__day --hidden">{{day}}</span>
    </div>
    <!--<div class="rmm-ng-datepicker__calendar-button" (click)="setMonth(month + 1)">
        <span>▼</span>
    </div>-->
</ng-template>

<ng-template #monthCalendar>
    <!--<div class="rmm-ng-datepicker__calendar-button" (click)="setYear(year - 1)">
        <span>▲ {{year - 1}}</span>
    </div>-->
    <div style="display: flex; align-items: center" (wheel)="onMonthScroll($event)">
        <div>
            <div (click)="incrementVisibleYearByValue(-5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--up">▴</div>
            <div *ngFor="let y of currentYears" (click)="setYear(y.year)"
                 class="rmm-ng-datepicker__select-option"
                 [ngClass]="{
                 '--current': y.current,
                 '--selected': y.year === year,
                 '--disabled': !y.active
                 }">
                {{y.year}}
            </div>
            <div (click)="incrementVisibleYearByValue(5)" class="rmm-ng-datepicker__select-option rmm-ng-datepicker__select-option--down">▾</div>
        </div>
        <div class="rmm-ng-datepicker__month-calendar" >
            <div *ngFor="let m of currentYearMonths; let i = index" (click)="m.active ? selectMonth(i) : null"
                 class="rmm-ng-datepicker__month-calendar-item"
                 [ngClass]="{
                '--current': m.current,
                '--selected': m.selected,
                '--disabled': !m.active
            }">{{m.month}}</div>
        </div>
    </div>
    <!--<div class="rmm-ng-datepicker__calendar-button" (click)="setYear(year + 1)">
        <span>▼ {{year + 1}}</span>
    </div>-->
</ng-template>

<ng-template #yearCalendar>
    <div class="rmm-ng-datepicker__calendar-button" (click)="incrementVisibleYearByValue(-6)">
        <span>▲</span>
    </div>
    <div (wheel)="onYearScroll($event)" class="rmm-ng-datepicker__year-calendar">
        <div *ngFor="let y of currentYears; let i = index"
             (click)="y.active ? selectYear(y.year) : null"
             class="rmm-ng-datepicker__year-calendar-item"
             [ngClass]="{
                '--current': y.current,
                '--selected': y.selected,
                '--disabled': !y.active
            }">{{y.year}}</div>
    </div>
    <div class="rmm-ng-datepicker__calendar-button" (click)="incrementVisibleYearByValue(6)">
        <span>▼</span>
    </div>
</ng-template>