:host {
    padding: 1rem;
    display: block;
    border: 1px solid #eee;
    border-radius: 4px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

pre {
    background: #eee;
    padding: 1rem;
}

.annotation {
    margin: 0.5rem 0;
}