<app-header></app-header>

<main>
    <div class="container">
        <h1>
            Hello
        </h1>

        <!--<div [formGroup]="form">
            <label>Name: <input type="text" formControlName="name"></label> <br>
            <label>Age: <input type="number" formControlName="age"></label> <br>

            <br>

            <label>Month:</label>
            <div>
                <app-date-input [fbControl]="form.controls['month']" [format]="'mm.yyyy'"></app-date-input>
            </div>
            <br>

            <label>Month by focus:</label>
            <div>
                <app-date-input [fbControl]="form.controls['month']" [format]="'yyyy.mm'" [pickByFocus]="true"></app-date-input>
            </div>
            <br>

            <label>Year:</label>
            <div>
                <app-date-input [fbControl]="form.controls['year']" [format]="'yyyy'"></app-date-input>
            </div>
            <br>
            <label>Year by focus:</label>
            <div>
                <app-date-input [fbControl]="form.controls['year']" [format]="'yyyy'" [pickByFocus]="true"></app-date-input>
            </div>
            <br>

            <label>Birthday: </label>
            <div>
                <app-date-input [fbControl]="form.controls['birthday']"></app-date-input>
            </div>
            <br>

            <label>Birthday by focus: </label>
            <div>
                <app-date-input [from]="'today'" [fbControl]="form.controls['birthday']" [pickByFocus]="true"></app-date-input>
            </div>
        </div>

        <pre>
            <code>
                {{this.form.value | json}}
            </code>
        </pre>-->


        <div style="margin: 100px 0">
            <app-datepicker></app-datepicker>
            <app-datepicker [format]="'mm.yyyy'"></app-datepicker>
            <!--<app-datepicker [value]="'1979'" [format]="'yyyy'"></app-datepicker>-->
        </div>

        <app-articles-list></app-articles-list>
    </div>
</main>

<app-footer></app-footer>