<app-header></app-header>

<main>
    <div class="container">
        <h1>
            Hello
        </h1>


        <div style="margin: 100px 0">
            <app-datepicker [startAt]="'12.03.2018'" [endWith]="'02.06.2018'"></app-datepicker>
            <app-datepicker [format]="'mm.yyyy'" [startAt]="'today'" [endWith]="'08.2018'"></app-datepicker>
            <app-datepicker [format]="'yyyy'" [startAt]="'2018'"></app-datepicker>
        </div>

        <app-articles-list></app-articles-list>
    </div>
</main>

<app-footer></app-footer>